
<div class="row text-left justify-content-md-center">
  <div class="col-md-6">

<div class="card">
  <div class="card-header px-header-color" style="background-color: #ECEFF1;color: black;">
    <h3>Change Password</h3>
  </div>
  <div class="card-body">
        <div class="card">
          <div class="card-content">
            <div>
              <form class="form form-horizontal" [formGroup]="currentForm">
                <div class="form-body">
                  <ngb-alert type="danger" [dismissible]="false" *ngIf="genericError">Unable to change password. Retry again.</ngb-alert>
                  <ngb-alert type="danger" [dismissible]="false" *ngIf="invalidPasswordError">Invalid password. Re-enter your current password.</ngb-alert>
                  <ngb-alert type="danger" [dismissible]="false" *ngIf="sameCurrentPasswordError">The new password must be different with the current password.</ngb-alert>

                  <div class="form-group row">
                    <label class="col-md-4 label-control">&nbsp;</label>
                    <div class="col-md-8">
                      Fields with <span class="px-required">*</span> are required.
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4 label-control" for="currentPassword">Current Password <span class="px-required">*</span></label>
                    <div class="col-md-8">
                      <input [attr.maxlength]="15" formControlName="currentPassword"  type="password" id="currentPassword" class="form-control" name="currentPassowrd"  [ngClass]="{ 'is-invalid': (f.currentPassword.dirty || f.currentPassword.touched || submitted) && f.currentPassword.invalid && f.currentPassword.errors.required}">
                      <small *ngIf="(f.currentPassword.dirty || f.currentPassword.touched || submitted) && f.currentPassword.invalid && f.newPassword.errors.required" class="form-text text-muted danger">Please enter your current password</small>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4 label-control" for="newPassword">New Password <span class="px-required">*</span></label>
                    <div class="col-md-8">
                      <input [attr.maxlength]="15" formControlName="newPassword"  type="password" id="newPassword" class="form-control" name="newPassword"  [ngClass]="{ 'is-invalid': (f.confirmNewPassword.dirty || f.confirmNewPassword.touched || submitted) && f.confirmNewPassword.invalid && f.confirmNewPassword.errors.required}">
                      <small *ngIf="(f.newPassword.dirty || f.newPassword.touched || submitted) && f.newPassword.invalid && f.newPassword.errors.required" class="form-text text-muted danger">Please enter your new password</small>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4 label-control" for="confirmNewPassword">Confirm New Password <span class="px-required">*</span></label>
                    <div class="col-md-8">
                      <input [attr.maxlength]="15" formControlName="confirmNewPassword"  type="password" id="confirmNewPassword" class="form-control" name="confirmNewPassword"  [ngClass]="{ 'is-invalid': (f.confirmNewPassword.dirty || f.confirmNewPassword.touched || submitted) && (f.confirmNewPassword.invalid && (f.confirmNewPassword.errors.required || f.confirmNewPassword.errors.mustMatch)) }">
                      <small *ngIf="(f.confirmNewPassword.dirty || f.confirmNewPassword.touched || submitted) && f.confirmNewPassword.invalid && f.confirmNewPassword.errors.required" class="form-text text-muted danger">Please retype your password.</small>
                      <small *ngIf="(f.confirmNewPassword.dirty || f.confirmNewPassword.touched || submitted) && f.confirmNewPassword.invalid && f.confirmNewPassword.errors.mustMatch" class="form-text text-muted danger">New password and confirm password doesn't match.</small>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4" for="middleInitial">&nbsp;</label>
                    <div class="col-md-8">
                      <button type="button" class="btn btn-raised btn-success mr-2" (click)="submit()"><i class="fa fa-check-square-o"></i> Submit</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>