<!-- Form actions layout section start -->
<section id="form-action-layouts">

  <div class="row text-left">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header center">
          <h4 class="card-title" id="from-actions-multiple">Change Password</h4>          
        </div>
        <div class="card-content">
          <div class="px-3">
            <hr/>
            <form class="form">
              <div class="row justify-content-md-center">
                <div class="col-md-6">
                  <div class="form-body">
                    <div class="row">
                      <div class="form-group col-12 mb-2">
                        <label for="username">Current Password</label>
                        <input type="text" id="currentPassword" class="form-control" name="currentPassowrd">
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-12 mb-2">
                        <label for="email">New Password</label>
                        <input type="text" id="newPassword" class="form-control" name="newPassword">
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="form-group col-12 mb-2">
                        <label for="firstName">Confirm New Password</label>
                        <input type="text" id="confirmNewPassword" class="form-control" name="confirmNewPassword">
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="form-actions clearfix center">
                <div class="buttons-group">
                  <button type="button" class="btn btn-raised btn-danger mr-1">Cancel</button>
                  <button type="button" class="btn btn-raised btn-success" (click)="confirmSave()">Save</button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- // Form actions layout section end -->
