<!-- Form actions layout section start -->
<section id="form-action-layouts">
  <div class="card">
    <div class="card-header" style="background-color: #E0F3F4;">
      <h3>Change Password</h3>
    </div>
    <div class="card-body">
      <div class="row text-left justify-content-md-center">
        <div class="col-md-12">
          <div class="card">
            <div class="card-content">
              <div class="px-3">

                <form class="form" [formGroup]="currentForm" (ngSubmit)="submit()">
                  <div class="row justify-content-md-center">
                    <div class="col-md-6">
                      <div class="form-body">
                        <ngb-alert type="danger" [dismissible]="false" *ngIf="genericError">Unable to change password. Retry again.</ngb-alert>
                        <ngb-alert type="danger" [dismissible]="false" *ngIf="invalidPasswordError">Invalid password. Re-enter your current password.</ngb-alert>
                        <ngb-alert type="danger" [dismissible]="false" *ngIf="sameCurrentPasswordError">The new password must be different with the current password.</ngb-alert>

                        <div class="row">
                          <div class="form-group col-12 mb-2">
                            <label for="currentPassword">Current Password</label><span class="px-required">*</span>
                            <input  formControlName="currentPassword"  type="text" id="currentPassword" class="form-control" name="currentPassowrd"  [ngClass]="{ 'is-invalid': (f.currentPassword.dirty || f.currentPassword.touched || submitted) && f.currentPassword.invalid && f.currentPassword.errors.required}">
                            <small *ngIf="(f.currentPassword.dirty || f.currentPassword.touched || submitted) && f.currentPassword.invalid && f.newPassword.errors.required" class="form-text text-muted danger">Please enter your current password</small>
                          </div>
                        </div>


                        <div class="row">
                          <div class="form-group col-12 mb-2">
                            <label for="newPassword">New Password</label><span class="px-required">*</span>
                            <input  formControlName="newPassword"  type="password" id="newPassword" class="form-control" name="newPassword"  [ngClass]="{ 'is-invalid': (f.confirmNewPassword.dirty || f.confirmNewPassword.touched || submitted) && f.confirmNewPassword.invalid && f.confirmNewPassword.errors.required}">
                            <small *ngIf="(f.newPassword.dirty || f.newPassword.touched || submitted) && f.newPassword.invalid && f.newPassword.errors.required" class="form-text text-muted danger">Please enter your new password</small>

                          </div>
                        </div>

                        <div class="row">
                          <div class="form-group col-12 mb-2">
                            <label for="confirmNewPassword">Confirm New Password</label><span class="px-required">*</span>
                            <input  formControlName="confirmNewPassword"  type="password" id="confirmNewPassword" class="form-control" name="confirmNewPassword"  [ngClass]="{ 'is-invalid': (f.confirmNewPassword.dirty || f.confirmNewPassword.touched || submitted) && (f.confirmNewPassword.invalid && (f.confirmNewPassword.errors.required || f.confirmNewPassword.errors.mustMatch)) }">
                            <small *ngIf="(f.confirmNewPassword.dirty || f.confirmNewPassword.touched || submitted) && f.confirmNewPassword.invalid && f.confirmNewPassword.errors.required" class="form-text text-muted danger">Please retype your password.</small>
                            <small *ngIf="(f.confirmNewPassword.dirty || f.confirmNewPassword.touched || submitted) && f.confirmNewPassword.invalid && f.confirmNewPassword.errors.mustMatch" class="form-text text-muted danger">New password and confirm password doesn't match.</small>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="form-actions clearfix center">
                    <div class="buttons-group">
                      <button type="button" class="btn btn-raised btn-success  mr-1" (click)="submit()">Submit</button>
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>



</section>
<!-- // Form actions layout section end -->
