<ng-select [items]="courses"
           [virtualScroll]="true"
           [loading]="loading"
           bindLabel="name"
           bindValue="id"
           placeholder="Select Course"
           appendTo="body"
           (scroll)="onScroll($event)"
           (scrollToEnd)="onScrollToEnd()"
           [(ngModel)]="selectedId"
           (change)="onChange($event)"
           (clear)="onClear($event)"
           [ngClass]="{'invalid-select': isInvalid}">

      <ng-template ng-header-tmp>
            <small class="form-text text-muted">Loaded {{coursesBuffer.length}} of {{courses.length}}</small>
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-index="index">
            {{item.name}}
      </ng-template>

</ng-select>