
<div class="card">
  <div class="card-header px-header-color" style="background-color: #ECEFF1;">
    <a class="float-left btn btn-info btn-raised mr-2" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      <i class="fa fa-fw ft-search"></i> Search
    </a>
    <a class="relative btn btn-success btn-raised" (click)="navigateToNewForm()">
      <i class="fa fa-fw fa-plus-circle"></i> New Course
    </a>
  </div>
  <div class="card-body" id="collapseExample" [ngbCollapse]="isCollapsed">

    <div >
      <div class="col-sm-12">
        <form method="get">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group" [formGroup]="searchForm">
                <label>Course Name</label>
                <input type="text"
                       formControlName="courseName"
                       name="courseName"
                       id="courseName"
                       class="form-control">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Created Date</label>
                <div class="input-group">
                  <input
                         name="createdDate"
                         id="createdDate"
                         class="form-control"
                         placeholder="yyyy-mm-dd"
                         ngbDatepicker
                         [(ngModel)]="createdDateModel"
                         #createDatePicker="ngbDatepicker">
                  <div class="input-group-append">
                    <div class="input-group-text" (click)="createDatePicker.toggle()">
                      <i class="fa fa-calendar" style="cursor: pointer;"></i>
                    </div>
                  </div>
                  {{createdDate}}
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>&nbsp;</label>
                <div>
                  <button type="submit" name="submit" value="search" id="submit" class="btn btn-success btn-raised mr-2" (click)="submitSearchForm()"><i class="fa fa-fw fa-check"></i> Submit</button>
                  <a class="btn btn-danger btn-raised" (click)="clearSearchForm()"><i class="fa fa-repeat"></i> Clear</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>

<section id="paging" class="mb-3">
  <div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12 table-responsive">
            <table id="course-table" class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" style="width:20%;">Name</th>
                  <th scope="col" style="width:20%;">Description</th>
                  <th scope="col" style="width:10%;">Days</th>
                  <th scope="col" style="width:15%;">Course Fee</th>
                  <th scope="col" style="width:15%;">Created Date</th>
                  <th scope="col" style="width:10%;text-align: center;">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of rows">
                  <td scope="row">{{ row.name }}</td>
                  <td scope="row">{{ row.description }}</td>
                  <td scope="row">{{ row.numberOfDays }}</td>
                  <td scope="row">{{row.courseFee | currency: 'PHP '}}</td>
                  <td scope="row">{{row.createdDate | date: 'MMM d,y'}}</td>
                  <td scope="row" style="text-align: center;">
                    <a (click)="detail(row.id)" class="mr-2" placement="top" ngbTooltip="View"><i class="ft-eye"></i></a>
                    <a (click)="detail(row.id)" placement="top" ngbTooltip="Edit"><i class="ft-edit-2"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination
                [(page)]="page"
                [(pageSize)]="pageSize"
                [(collectionSize)]="collectionSize"
                [maxSize]="5"
                [rotate]="true"
                [boundaryLinks]="true"
                (pageChange)="paginationChange($event)">
                <ng-template ngbPaginationFirst>First</ng-template>
                <ng-template ngbPaginationLast>Last</ng-template>
                <ng-template ngbPaginationPrevious>Prev</ng-template>
                <ng-template ngbPaginationNext>Next</ng-template>
                <ng-template ngbPaginationEllipsis>...</ng-template>
                <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
            </ngb-pagination>
            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (change)="paginationSizeChange()">
              <option [ngValue]="5">5 items per page</option>
              <option [ngValue]="10">10 items per page</option>
              <option [ngValue]="20">20 items per page</option>
            </select>
          </div>
          </div>
      </div>
      </div>
    </div>
  </div>

</section>