<!--Login Page Starts-->

<section id="login">
   <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div id="login-background">
  <div class="container-fluid">
    <div class="row full-height-vh m-0">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card">
          <div class="card-content">
            <div class="card-body login-img">
              <div class="row m-0">
                <div
                  class="col-lg-6 d-lg-block d-none py-2 px-3 text-center align-middle"
                >
                  <img
                    src="../../assets/img/gallery/login.png"
                    alt=""
                    class="img-fluid mt-5"
                    width="400"
                    height="230"
                  />
                </div>
                  <div class="col-lg-6 col-md-12 bg-white px-4 pt-3">
                    <br/><br/><br/>
                    <h4 class="card-title mb-2">Login</h4>
                    <p class="card-text mb-3">
                      Welcome back, please login to your account.
                    </p>
                    <small class="form-text text-muted danger" *ngIf="(f.username.dirty || f.username.touched) && f.username.errors && f.username.errors.required">Username required</small>
                    <input
                      name="username"
                      type="text"
                      class="form-control mb-3"
                      autocomplete="username"
                      placeholder="Username"
                      formControlName="username"
                      [ngClass]="{ 'is-invalid': (f.username.dirty || f.username.touched) && f.username.errors }"/>

                      <small class="form-text text-muted danger" *ngIf="(f.password.dirty || f.password.touched) && f.username.errors && f.username.errors.required">Password required</small>
                    <input
                      name="password"
                      type="password"
                      class="form-control mb-3"
                      autocomplete="current-password"
                      placeholder="Password"
                      formControlName="password"
                      [ngClass]="{ 'is-invalid': (f.password.dirty || f.password.touched) && f.password.errors }"/>

                    <div class="fg-actions d-flex justify-content-between">
                      <div class="recover-pass">
                       
                          <!--<a [routerLink]="['/pages/login']" class="text-decoration-none text-white" >Login</a>-->
                          <button [disabled]="loading" class="btn btn-primary text-decoration-none text-white">
                              Login
                          </button>
                        
  
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
</section>
<!--Login Page Ends-->
