
<section id="registration" class="pl-5 pr-5 pb-5">
    <div class="container-fluid">
        <div class="row full-height-vh">
            <div class="col-md-12 align-items-center justify-content-center">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-inverse bg-info">
                            <div class="card-content">
                                <div class="card-body" style="background-color: #277298;">
                                    <div class="row d-flex" style="background-color: #277298;">
                                        <div class="col align-self-center">
                                            <img src="assets/img/phoenix-one.png" alt="element 04" width="100" height="100" class="float-left">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-title">{{accountName}} Training Registration</h2>
                                <h6 class="card-subtitle text-muted">You are allowed to register a maximum of <strong>{{courseRegistrationCount}}</strong> participants for <strong>{{courseRegistrationName}}</strong> course.</h6>
                            </div>
                            <div class="card-content">
                                <div class="card-img">
                                    <a [class.disabled]="!(registrationCount < courseRegistrationCount)" class="btn btn-floating halfway-fab btn-large bg-danger" (click)="showRegistrationForm('new')"><i class="ft-plus"></i></a>
                                </div>
                                <div class="card-body mt-3" *ngIf="registrationCount > 0">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Middle Initial</th>
                                                <th>Email</th>
                                                <th>Designation</th>
                                                <th>Mobile Number</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr *ngFor="let registration of registrations; let i = index">
                                                <th scope="row">{{ i + 1 }}</th>
                                                <td>{{ registration.firstName }}</td>
                                                <td>{{ registration.lastName }}</td>
                                                <td>{{ registration.middleInitial }}</td>
                                                <td>{{ registration.email }}</td>
                                                <td>{{ registration.designation }}</td>
                                                <td>{{ registration.mobileNumber }}</td>
                                                <td>
                                                    <button type="button" class="btn btn-raised btn-info mr-2"
                                                        (click)="editRegistrationHandler(i)">Edit</button>
                                                    <button type="button" class="btn btn-raised btn-danger"
                                                        (click)="deleteRegistrationHandler(i)">Delete</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div *ngIf="!(registrationCount < courseRegistrationCount)" class="col-md-12 text-center" style="font-size: 2em">
                                        <button type = "button" class = "btn btn-raised btn-success col-md-3" style="height: 75px;font-size: 1em;" (click)="register($event)">Register</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1"
                role="dialog" ria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header align-items-center justify-content-center">
                            <h3 class="modal-title" id="myModalLabel">Participant Registration</h3>
                        </div>
                        <div class="modal-body">
                            <form class=" form form-horizontal" [formGroup]="registrationForm" (ngSubmit)="addRegistrationHandler($event)">
                                <div class="form-body">
                                    <div class="form-group row">
                                        <div class="col-md">
                                            <label class="label-control" for="name">First Name<span class="px-required">*</span></label>
                                            <input name="firstName" formControlName="firstName" type="text" class="form-control" [ngClass]="{ 'is-invalid': isInvalid(f.firstName)}">
                                            <small
                                                *ngIf="(f.firstName.dirty || f.firstName.touched || submitted) && f.firstName.invalid && f.firstName.errors.required"
                                                class="form-text text-muted danger">First name
                                                required</small>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md">
                                            <label class="label-control" for="name">Last Name<span class="px-required">*</span></label>
                                            <input name="lastName" formControlName="lastName" type="text" class="form-control" [ngClass]="{ 'is-invalid': isInvalid(f.lastName)}">
                                            <small
                                                *ngIf="(f.lastName.dirty || f.lastName.touched || submitted) && f.lastName.invalid && f.lastName.errors.required"
                                                class="form-text text-muted danger">Last name
                                                required</small>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md">
                                            <label class="label-control" for="name">Middle Initial</label>
                                            <input name="middleInitial" formControlName="middleInitial" type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md">
                                            <label class="label-control" for="name">Designation<span class="px-required">*</span></label>
                                            <input name="designation" formControlName="designation" type="text" class="form-control" [ngClass]="{ 'is-invalid': isInvalid(f.designation)}">
                                            <small
                                                *ngIf="(f.designation.dirty || f.designation.touched || submitted) && f.designationinvalid && f.designation.errors.required"
                                                class="form-text text-muted danger">Designation
                                                required</small>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md">
                                            <label class="label-control" for="name">Email<span class="px-required">*</span></label>
                                            <input name="email" (blur)="validateEmailAndMobileNumber()" formControlName="email" type="text" class="form-control" [ngClass]="{ 'is-invalid': isInvalid(f.email) || emailTaken}">
                                            <small
                                                *ngIf="(f.email.dirty || f.email.touched || submitted) && f.email.invalid && f.email.errors.required"
                                                class="form-text text-muted danger">Email required</small>
                                            <small
                                                *ngIf="emailTaken"
                                                class="form-text text-muted danger">Email already registered</small>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md">
                                            <label class="label-control" for="name">Mobile Number<span class="px-required">*</span></label>
                                            <input name="mobileNumber" (blur)="validateEmailAndMobileNumber()" formControlName="mobileNumber" type="text" class="form-control" [ngClass]="{ 'is-invalid': isInvalid(f.mobileNumber) || mobileNumberTaken}">
                                            <small
                                                *ngIf="(f.mobileNumber.dirty || f.mobileNumber.touched || submitted) && f.mobileNumber.invalid && f.mobileNumber.errors.required"
                                                class="form-text text-muted danger">Mobile number
                                                required</small>
                                            <small
                                                *ngIf="mobileNumberTaken"
                                                class="form-text text-muted danger">Mobile number already registered</small>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button *ngIf="action === 'new' && registrations.length < courseRegistrationCount" type="button" class="btn btn-raised btn-success mr-2"
                                (click)="addRegistrationHandler($event)"> <i class="fa fa-check-square-o"></i>
                                Add</button>
                            <button *ngIf="action === 'edit'" type="button" class="btn btn-raised btn-success mr-2"
                                (click)="updateRegistrationHandler($event)"> <i class="fa fa-check-square-o"></i>
                                Update</button>
                            <button type="button" class="btn btn-dark" data-dismiss="modal"
                                (click)="hideRegistrationForm()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

</section>