<div>
  <div *ngIf="viewForm" class="card">
    <div class="card-header" style="background-color: #ECEFF1;">
      <h3>{{f.name.value}} {{title}} Details</h3>
    </div>
    <div class="card-body">
      <div class="row text-left justify-content-md-center">
        <!-- view form start -->
        <div *ngIf="newForm == false && viewForm == true" class="col-md-6">
          <form class="form form-horizontal striped-rows">
            <br />
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-3 label-control" for="name">Name</label>
                <div class="col-md-9">
                  {{f.name.value}}
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-3 label-control" for="name">Description</label>
                <div class="col-md-9">
                  {{f.description.value}}
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-3 label-control" for="name">Account Manager</label>
                <div class="col-md-9">
                  {{f.accountManager.value}}
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-3 label-control" for="name">Stage</label>
                <div class="col-md-9">
                  <span *ngIf="f.stage.value === 'PROPOSAL'">PROPOSAL</span>
                  <span *ngIf="f.stage.value === 'CLOSED_WON'">CLOSED WON</span>
                  <span *ngIf="f.stage.value === 'CLOSED_LOST'">CLOSED LOST</span>
                  <span *ngIf="f.stage.value === 'CLOSED_LOST_TO_COMPETITION'">CLOSED WON TO COMPETITION</span>
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-3 label-control" for="name">VAT Registration</label>
                <div class="col-md-9">
                  <span *ngIf="f.vatRegistration.value === 'VAT_EXEMPT'">VAT Exempt</span>
                  <span *ngIf="f.vatRegistration.value === 'VAT_INCLUSIVE'">VAT Inclusive</span>
                  <span *ngIf="f.vatRegistration.value === 'ZERO_RATE'">Zero Rate</span>
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-3 label-control" for="name">Deal Type</label>
                <div class="col-md-9">
                  <span *ngIf="f.type.value === 'NEW_BUSINESS'">New Business</span>
                  <span *ngIf="f.type.value === 'EXISTING_BUSINESS'">Existing Business</span>
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-3 label-control" for="name">Total Deal Amount</label>
                <div class="col-md-9">
                  {{f.totalDealAmount.value | currency: 'PHP '}}
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-3 label-control" for="name">Course Fee</label>
                <div class="col-md-9">
                  {{f.courseFee.value | currency: 'PHP '}}
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-3 label-control" for="name">Number of Participants</label>
                <div class="col-md-9">
                  {{f.numberOfParticipants.value}}
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-3 label-control" for="name">Account</label>
                <div class="col-md-9">
                  {{accountNameLabel}}
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-3 label-control" for="name">Contact</label>
                <div class="col-md-9">
                  {{contactLabel.fullName}} <br/>
                  <small class="form-text text-muted"><i class="ft-mail"></i> {{contactLabel.email}}</small>
                  <small class="form-text text-muted"><i class="ft-phone-call"></i> {{contactLabel.mobileNumber}}</small>
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-3 label-control" for="name">Course</label>
                <div class="col-md-9">
                  {{courseLabel}}
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-3 label-control" for="createdDate">Date Created</label>
                <div class="col-md-9">
                  <span *ngIf="f.createdDate">{{f.createdDate.value | date: 'MMM d, y h:mm:ss a'}}</span>
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-3 label-control" for="createdBy">Created By</label>
                <div class="col-md-9">
                  {{createdBy}}
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-3 label-control" for="modifiedDate">Last Modified Date</label>
                <div class="col-md-9">
                  <span *ngIf="f.modifiedDate">{{f.modifiedDate.value | date: 'MMM d, y h:mm:ss a'}}</span>
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-3 label-control" for="modifiedBy">Last Modified By</label>
                <div class="col-md-9">
                  {{modifiedBy}}
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-3 label-control" for="status">Status</label>
                <div class="col-md-9">
                  <span *ngIf="isRecordActive">Active</span>
                  <span *ngIf="!isRecordActive">Inactive</span>
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-3 label-control">&nbsp;</label>
                <div class="col-md-9">
                  <button type="button" class="btn btn-raised btn-success mr-2" (click)="showEditForm()">
                    <i class="fa fa-check-square-o"></i> Edit
                  </button>
                  <button type="button" class="btn btn-danger btn-raised" (click)="cancel()">
                    <i class="ft-x"></i> Cancel
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- view form end -->
      </div>
    </div>
    <!--Collapsible Accordion Ends-->
  </div>
</div>

<!-- START: ACCOUNT NEW FORM or EDIT FORM-->
<div *ngIf="newForm == true || editForm == true" class="card">
  <div class="card-header" style="background-color: #ECEFF1;">
    <h3 *ngIf="editForm">{{f.name.value}} {{title}} Details</h3>
    <h3 *ngIf="newForm">New {{title}}</h3>
  </div>

  <div class="card-body">
    <div class="row text-left justify-content-md-center">
      <!-- new form and edit form start -->
      <div *ngIf="newForm == true || editForm == true" class="col-md-6">
        <div class="card">
          <div class="card-content">
            <div class="px-3">
              <form class="form form-horizontal" [formGroup]="currentForm">

                <input *ngIf="editForm" type="hidden" formControlName="id">

                <div class="form-body">
                  <div class="form-group row">
                    <label class="col-md-3 label-control">&nbsp;</label>
                    <div class="col-md-9">
                      Fields with <span class="px-required">*</span> are required.
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="name">Deal Name<span
                        class="px-required">*</span></label>
                    <div class="col-md-9">
                      <input formControlName="name" type="text" id="name" class="form-control" name="name"
                        [ngClass]="{ 'is-invalid': isInvalid(f.name)}">
                      <small
                        *ngIf="(f.name.dirty || f.name.touched || submitted) && f.name.invalid && f.name.errors.required"
                        class="form-text text-muted danger">
                        Deal name required
                      </small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="name">Description</label>
                    <div class="col-md-9">
                      <textarea formControlName="description" type="text" id="description" class="form-control" name="description" style="resize: none;"></textarea>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="name">No. of Participants<span class="px-required">*</span></label>
                    <div class="col-md-9">
                      <input formControlName="numberOfParticipants" type="text" id="numberOfParticipants" class="form-control" name="numberOfParticipants" [ngClass]="{ 'is-invalid': isInvalid(f.numberOfParticipants)}" (blur)="calculateTotalDealAmount()">
                      <small
                        *ngIf="(f.numberOfParticipants.dirty || f.numberOfParticipants.touched || submitted) && f.numberOfParticipants.invalid && f.numberOfParticipants.errors.required"
                        class="form-text text-muted danger">
                        Number of participants required
                      </small>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="name">Course Inquired<span class="px-required">*</span></label>
                    <div class="col-md-9">
                      <input type="hidden" formControlName="courseId">
                      <app-course-select (selectedIdEmitter)="onCourseSelected($event)" [isInvalid]="isCourseIdInvalid" [selectedCourse]="selectedCourse"></app-course-select>
                      <small *ngIf="isCourseIdInvalid" class="form-text text-muted danger">Course inquired required</small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="name">Course Fee<span class="px-required">*</span></label>
                    <div class="col-md-9">
                      <input formControlName="courseFee" type="text" id="courseFee" class="form-control" name="courseFee" [ngClass]="{ 'is-invalid': isInvalid(f.courseFee)}">
                      <small
                        *ngIf="(f.courseFee.dirty || f.courseFee.touched || submitted) && f.courseFee.invalid && f.courseFee.errors.required"
                        class="form-text text-muted danger">
                        Course fee required
                      </small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="name">Deal Amount<span class="px-required">*</span></label>
                    <div class="col-md-9">
                      <input formControlName="totalDealAmount" type="text" id="totalDealAmount" class="form-control" name="totalDealAmount" [ngClass]="{ 'is-invalid': isInvalid(f.totalDealAmount)}" [readonly]="true">
                      <small
                        *ngIf="(f.totalDealAmount.dirty || f.totalDealAmount.touched || submitted) && f.totalDealAmount.invalid && f.totalDealAmount.errors.required"
                        class="form-text text-muted danger">
                        Total deal amount required
                      </small>
                    </div>
                  </div>
                  <input formControlName="accountManager" type="hidden">
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="name">Deal Stage<span class="px-required">*</span></label>
                    <div class="col-md-9">
                      <label *ngIf="f.stage.value === 'PROPOSAL'">PROPOSAL</label>
                      <label *ngIf="f.stage.value === 'CLOSED_WON'">CLOSED WON</label>
                      <label *ngIf="f.stage.value === 'CLOSED_LOST'">CLOSED LOST</label>
                      <label *ngIf="f.stage.value === 'CLOSED_LOST_TO_COMPETITION'">CLOSED WON TO COMPETITION</label>
                      <input formControlName="stage" type="hidden">
                      <small
                        *ngIf="editForm && (f.stage.dirty || f.stage.touched || submitted) && f.stage.invalid && f.stage.errors.required"
                        class="form-text text-muted danger">
                        Deal stage required
                      </small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="name">VAT Registration<span class="px-required">*</span></label>
                    <div class="col-md-9">
                      <select formControlName="vatRegistration" class="custom-select">
                        <option value="VAT_INCLUSIVE">VAT Inclusive</option>
                        <option value="VAT_EXEMPT">VAT Exempt</option>
                        <option value="ZERO_RATED">Zero Rate</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="name">Deal Type<span class="px-required">*</span></label>
                    <div class="col-md-9">
                      <select formControlName="type" class="custom-select">
                        <option value="NEW_BUSINESS">New Business</option>
                        <option value="EXISTING_BUSINESS">Existing Business</option>
                      </select>
                      <small
                        *ngIf="(f.type.dirty || f.type.touched || submitted) && f.type.invalid && f.type.errors.required"
                        class="form-text text-muted danger">
                        Deal type required
                      </small>
                    </div>
                  </div>
                  <input formControlName="accountId" type="hidden">

                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="name">Contact Inquired<span class="px-required">*</span></label>
                    <div class="col-md-9">
                      <input type="hidden" formControlName="courseId">
                      <app-contact-select [accountId]="parentAccountId" (selectedIdEmitter)="onContactSelected($event)" [isInvalid]="isCourseIdInvalid" [selectedContact]="selectedContact"></app-contact-select>
                      <small *ngIf="isContactIdInvalid" class="form-text text-muted danger">Contact inquired required</small>
                    </div>
                  </div>
                  <!--
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="name">Inquiry</label>
                    <div class="col-md-9">
                      <app-inquiry-select [accountManager]="f.accountManager.value" (selectedIdEmitter)="onInquirySelected($event)" [selectedInquiry]="selectedInquiry"></app-inquiry-select>
                    </div>
                  </div>
                  -->

                  <div *ngIf="editForm" class="form-group row">
                    <label class="col-md-3 label-control" for="status">Active <span class="px-required">*</span></label>
                    <div class="col-md-3">
                      <input type="hidden" formControlName="status">
                      <div class="custom-control custom-checkbox d-inline-block">
                        <input type="checkbox" id="active" (change)="activeCheckbox($event)" [checked]="isRecordActive"
                          name="active" class="custom-control-input" style="zoom: 2;">
                        <label class="custom-control-label" for="active">Yes</label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="eventRegInput4">&nbsp;</label>
                    <div class="col-md-9">
                      <button *ngIf="editForm" type="button" class="btn btn-raised btn-success mr-2" (click)="update()">
                        <i class="fa fa-check-square-o"></i> Save Changes
                      </button>
                      <button *ngIf="newForm" type="button" class="btn btn-raised btn-success mr-2" (click)="saveNew()">
                        <i class="fa fa-check-square-o"></i> Save
                      </button>
                      <button type="button" class="btn btn-danger btn-raised" (click)="cancel()">
                        <i class="ft-x"></i> Cancel
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- new form and edit form end -->
    </div>
  </div>
</div>
<!-- END: ACCOUNT NEW FORM or EDIT FORM -->