
<div>
  <h4 *ngIf="viewForm">{{f.name.value}} {{title}} Details</h4>
  <div *ngIf="viewForm" class="card">

    <div class="card-body">
      <div class="row text-left justify-content-md-center">
        <!-- view form start -->
        <div *ngIf="newForm == false && viewForm == true" class="col-md-12">
          <form class="form form-horizontal striped-rows">
            <br />
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-4 label-control" for="name">Name</label>
                <div class="col-md-6">
                  {{f.name.value}}
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-4 label-control" for="name">Description</label>
                <div class="col-md-6">
                  {{f.description.value}}
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-4 label-control" for="name">Account Manager</label>
                <div class="col-md-6">
                  <app-user-profile-detail [id]="f.accountManager.value"></app-user-profile-detail>
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-4 label-control" for="name">Stage</label>
                <div class="col-md-6">
                  <span *ngIf="f.stage.value === 'PROPOSAL'">PROPOSAL</span>
                  <span *ngIf="f.stage.value === 'CLOSING'">CLOSING</span>
                  <span *ngIf="f.stage.value === 'CLOSED_WON'">CLOSED WON</span>
                  <span *ngIf="f.stage.value === 'CLOSED_LOST'">CLOSED LOST</span>
                  <span *ngIf="f.stage.value === 'CLOSED_LOST_TO_COMPETITION'">CLOSED WON TO COMPETITION</span>
                  <span *ngIf="f.stage.value === 'CANCELLED'">CANCELLED</span>
                  <span *ngIf="f.stage.value === 'DELIVERED'">DELIVERED</span>
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-4 label-control" for="name">VAT Registration</label>
                <div class="col-md-6">
                  <span *ngIf="f.vatRegistration.value === 'VAT_EXEMPT'">VAT Exempt</span>
                  <span *ngIf="f.vatRegistration.value === 'VAT_INCLUSIVE'">VAT Inclusive</span>
                  <span *ngIf="f.vatRegistration.value === 'ZERO_RATE'">Zero Rate</span>
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-4 label-control" for="name">Deal Type</label>
                <div class="col-md-6">
                  <span *ngIf="f.type.value === 'NEW_BUSINESS'">New Business</span>
                  <span *ngIf="f.type.value === 'EXISTING_BUSINESS'">Existing Business</span>
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-4 label-control" for="name">Total Deal Amount</label>
                <div class="col-md-6">
                  {{f.totalDealAmount.value | currency: 'PHP '}}
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-4 label-control" for="name">Course Fee</label>
                <div class="col-md-6">
                  {{f.courseFee.value | currency: 'PHP '}}
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-4 label-control" for="name">Number of Participants</label>
                <div class="col-md-6">
                  {{f.numberOfParticipants.value}}
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-4 label-control" for="name">Account</label>
                <div class="col-md-6">
                  {{accountNameLabel}}
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-4 label-control" for="name">Contact</label>
                <div class="col-md-6">
                  {{contactLabel.fullName}} <br />
                  <small class="form-text text-muted"><i class="ft-mail"></i> {{contactLabel.email}}</small>
                  <small class="form-text text-muted"><i class="ft-phone-call"></i>
                    {{contactLabel.mobileNumber}}</small>
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-4 label-control" for="name">Course</label>
                <div class="col-md-6">
                  {{courseLabel}}
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-4 label-control" for="createdDate">Date Created</label>
                <div class="col-md-6">
                  <span *ngIf="f.createdDate">{{f.createdDate.value | date: 'MMM d, y h:mm:ss a'}}</span>
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-4 label-control" for="createdBy">Created By</label>
                <div class="col-md-6">
                  {{createdBy}}
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-4 label-control" for="modifiedDate">Last Modified Date</label>
                <div class="col-md-6">
                  <span *ngIf="f.modifiedDate">{{f.modifiedDate.value | date: 'MMM d, y h:mm:ss a'}}</span>
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-4 label-control" for="modifiedBy">Last Modified By</label>
                <div class="col-md-6">
                  {{modifiedBy}}
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-4 label-control" for="status">Status</label>
                <div class="col-md-6">
                  <span *ngIf="isRecordActive">Active</span>
                  <span *ngIf="!isRecordActive">Inactive</span>
                </div>
              </div>
            </div>
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-4 label-control">&nbsp;</label>
                <div class="col-md-6">
                  <button *ngIf="parentAccountId && parentAccountId != ''" type="button" class="btn btn-raised btn-success mr-2" (click)="showEditForm()">
                    <i class="fa fa-check-square-o"></i> Edit
                  </button>
                  <button type="button" class="btn btn-danger btn-raised" (click)="cancel()">
                    <i class="ft-x"></i> Close
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- view form end -->
      </div>
    </div>
    <!--Collapsible Accordion Ends-->
  </div>
</div>


<h4 *ngIf="editForm">{{f.name.value}} {{title}} Details</h4>
<h4 *ngIf="newForm">New {{title}}</h4>

<!-- START: ACCOUNT NEW FORM or EDIT FORM-->
<div *ngIf="newForm == true || editForm == true" class="card">
  <div class="card-body">
    <div class="row text-left justify-content-md-center">
      <!-- new form and edit form start -->
      <div *ngIf="newForm == true || editForm == true" class="col-md-12">
        <div class="card">
          <div class="card-content">
            <div class="px-3">
              <form class="form form-horizontal" [formGroup]="currentForm">

                <input *ngIf="editForm" type="hidden" formControlName="id">

                <div class="form-body">
                  <div class="form-group row">
                    <label class="col-md-4 label-control">&nbsp;</label>
                    <div class="col-md-6">
                      Fields with <span class="px-required">*</span> are required.
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 label-control" for="name">Account Name<span class="px-required">*</span></label>
                    <div class="col-md-6">
                      {{accountName}}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 label-control" for="name">Deal Name<span class="px-required">*</span></label>
                    <div class="col-md-6">
                      <input formControlName="name" type="text" id="name" class="form-control" name="name"
                        [ngClass]="{ 'is-invalid': isInvalid(f.name)}">
                      <small
                        *ngIf="(f.name.dirty || f.name.touched || submitted) && f.name.invalid && f.name.errors.required"
                        class="form-text text-muted danger">
                        Deal name required
                      </small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 label-control" for="name">Description</label>
                    <div class="col-md-6">
                      <textarea formControlName="description" type="text" id="description" class="form-control"
                        name="description" style="resize: none;"></textarea>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4 label-control" for="name">No. of Participants<span
                        class="px-required">*</span></label>
                    <div class="col-md-6">
                      <input formControlName="numberOfParticipants" type="text" id="numberOfParticipants"
                        class="form-control" name="numberOfParticipants"
                        [ngClass]="{ 'is-invalid': isInvalid(f.numberOfParticipants) || (f.numberOfParticipants.errors && f.numberOfParticipants.errors.positiveNumberError)}"
                        (blur)="calculateTotalDealAmount()">
                      <small
                        *ngIf="(f.numberOfParticipants.dirty || f.numberOfParticipants.touched || submitted) && f.numberOfParticipants.invalid && f.numberOfParticipants.errors.required"
                        class="form-text text-muted danger">
                        Number of participants required
                      </small>
                      <small *ngIf="f.numberOfParticipants.errors && f.numberOfParticipants.errors.positiveNumberError" class="form-text text-muted danger">Invalid number of participants</small>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4 label-control" for="name">Course<span
                        class="px-required">*</span></label>
                    <div class="col-md-6">
                      <input type="hidden" formControlName="courseId">
                      <app-course-select (selectedIdEmitter)="onCourseSelected($event)" [isInvalid]="isCourseIdInvalid"
                        [selectedCourse]="selectedCourse"></app-course-select>
                      <small *ngIf="isCourseIdInvalid" class="form-text text-muted danger">Course required</small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 label-control" for="name">Course Fee<span
                        class="px-required">*</span></label>
                    <div class="col-md-6">
                      <input formControlName="courseFee" type="text" id="courseFee" class="form-control"
                        name="courseFee" [ngClass]="{ 'is-invalid': isInvalid(f.courseFee) || (f.courseFee.errors && f.courseFee.errors.positiveNumberError)}">
                      <small
                        *ngIf="(f.courseFee.dirty || f.courseFee.touched || submitted) && f.courseFee.invalid && f.courseFee.errors.required"
                        class="form-text text-muted danger">
                        Course fee required
                      </small>
                      <small *ngIf="f.courseFee.errors && f.courseFee.errors.positiveNumberError" class="form-text text-muted danger">Invalid course fee</small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 label-control" for="name">Deal Amount<span
                        class="px-required">*</span></label>
                    <div class="col-md-6">
                      <input formControlName="totalDealAmount" type="text" id="totalDealAmount" class="form-control"
                        name="totalDealAmount" [ngClass]="{ 'is-invalid': isInvalid(f.totalDealAmount) || (f.totalDealAmount.errors && f.totalDealAmount.errors.positiveNumberError)}"
                        [readonly]="true">
                      <small
                        *ngIf="(f.totalDealAmount.dirty || f.totalDealAmount.touched || submitted) && f.totalDealAmount.invalid && f.totalDealAmount.errors.required"
                        class="form-text text-muted danger">
                        Total deal amount required
                      </small>
                      <small *ngIf="f.totalDealAmount.errors && f.totalDealAmount.errors.positiveNumberError" class="form-text text-muted danger">Invalid</small>
                    </div>
                  </div>
                  <input formControlName="accountManager" type="hidden">
                  <div class="form-group row">
                    <label class="col-md-4 label-control" for="name">Deal Stage<span class="px-required">*</span></label>
                    <div class="col-md-6">
                      <span *ngIf="editForm && (currentDealStatus != 'PROPOSAL' && currentDealStatus != 'CLOSING')">
                        <span *ngIf="currentDealStatus == 'CLOSED_LOST'">LOST</span>
                        <span *ngIf="currentDealStatus == 'CLOSED_LOST_TO_COMPETITION'">LOST WITH COMPETITION</span>
                      </span>
                      <select *ngIf="editForm && (currentDealStatus == 'PROPOSAL' || currentDealStatus == 'CLOSING')" formControlName="stage" class="custom-select">
                        <option value="PROPOSAL">PROPOSAL</option>
                        <option value="CLOSING">CLOSING</option>
                        <option value="CLOSED_LOST">CLOSED LOST</option>
                        <option value="CLOSED_LOST_TO_COMPETITION">CLOSED LOST TO COMPETITION</option>
                        <option *ngIf="currentDealStatus == 'CLOSED_WON'" value="CANCELLED">CANCELLED</option>
                      </select>
                      <select *ngIf="newForm" formControlName="stage" class="custom-select">
                        <option value="PROPOSAL">Proposal</option>
                        <option value="CLOSING">Closing</option>
                      </select>
                      <span *ngIf="currentDealStatus == 'CLOSED_WON'">CLOSED WON</span>
                      <span *ngIf="currentDealStatus == 'CANCELLED'">CANCELLED</span>
                      <small
                        *ngIf="editForm && (f.stage.dirty || f.stage.touched || submitted) && f.stage.invalid && f.stage.errors.required"
                        class="form-text text-muted danger">
                        Deal stage required
                      </small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 label-control" for="name">VAT Registration<span
                        class="px-required">*</span></label>
                    <div class="col-md-6">
                      <select formControlName="vatRegistration" class="custom-select">
                        <option value="VAT_INCLUSIVE">VAT Inclusive</option>
                        <option value="VAT_EXEMPT">VAT Exempt</option>
                        <option value="ZERO_RATED">Zero Rate</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 label-control" for="name">Deal Type<span class="px-required">*</span></label>
                    <div class="col-md-6">
                      <select formControlName="type" class="custom-select">
                        <option value="NEW_BUSINESS">New Business</option>
                        <option value="EXISTING_BUSINESS">Existing Business</option>
                      </select>
                      <small
                        *ngIf="(f.type.dirty || f.type.touched || submitted) && f.type.invalid && f.type.errors.required"
                        class="form-text text-muted danger">
                        Deal type required
                      </small>
                    </div>
                  </div>
                  <input formControlName="accountId" type="hidden">

                  <div class="form-group row">
                    <label class="col-md-4 label-control" for="name">Contact<span
                        class="px-required">*</span></label>
                    <div class="col-md-6">
                      <input type="hidden" formControlName="courseId">
                      <app-contact-select [accountId]="accountId" (selectedIdEmitter)="onContactSelected($event)"
                        [isInvalid]="isCourseIdInvalid" [selectedContact]="selectedContact"></app-contact-select>
                      <small *ngIf="isContactIdInvalid" class="form-text text-muted danger">Contact inquired
                        required</small>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4 label-control" for="status">&nbsp;</label>
                    <div class="col-md-6">

                      <button *ngIf="editForm && (currentDealStatus == 'CLOSING' || currentDealStatus == 'PROPOSAL')" type="button" class="btn btn-raised btn-success mr-2" (click)="update()">
                        <i class="fa fa-check-square-o"></i> Save Changes
                      </button>
                      <button *ngIf="newForm" type="button" class="btn btn-raised btn-success mr-2" (click)="saveNew()">
                        <i class="fa fa-check-square-o"></i> Save
                      </button>

                      <button type="button" class="btn btn-danger btn-raised" (click)="cancel()">
                        <i class="ft-x"></i> Close
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- new form and edit form end -->
    </div>
  </div>
</div>
<!-- END: ACCOUNT NEW FORM or EDIT FORM -->