<!-- Form actions layout section start -->
<section id="form-action-layouts">

  <div class="row text-left justify-content-md-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header center">
          <h4 class="card-title" id="from-actions-multiple">Course Detail</h4>          
        </div>
        <div class="card-content">
          <div class="px-3">
            <hr/>
            <form class="form">
              <div class="row justify-content-md-center">
                <div class="col-md-6">
                  <div class="form-body">
                    
                  </div>
                </div>
              </div>

              <div class="form-actions clearfix center">
                <div class="buttons-group">
                  <button type="button" class="btn btn-raised btn-success mr-2" (click)="submit()">Save</button>
                  <button type="button" class="btn btn-raised btn-secondary" (click)="cancel()">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- // Form actions layout section end -->
