<ng-select [items]="schedules"
           [virtualScroll]="true"
           [loading]="loading"
           bindLabel="name"
           bindValue="id"
           placeholder="Select Contact"
           appendTo="body"
           (scroll)="onScroll($event)"
           (scrollToEnd)="onScrollToEnd()"
           [(ngModel)]="selectedId"
           (change)="onChange($event)"
           (clear)="onClear($event)"
           [ngClass]="{'invalid-select': isInvalid}"
           [searchFn]="search">

      <ng-template ng-header-tmp>
            <small class="form-text text-muted">Loaded {{dataBuffer.length}} of {{schedules.length}}</small>
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-index="index">
            <strong>{{item.name}}</strong> <br/>
            {{item.data.startDate}} to {{item.data.endDate}}
      </ng-template>

</ng-select>