<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10 ">


<full-calendar
      #calendar
      defaultView="dayGridMonth"
      [header]="{
        left: 'prev,next',
        center: 'title',
        right: 'today, refreshButton'
      }"
      [customButtons]="options.customButtons"
      [agendaEventMinHeight]="100"
      [eventLimit]="true"
      [displayEventTime]="false"
      [plugins]="calendarPlugins"
      [events]="calendarEvents"
      (dateClick)="handleDateClick($event)"
      (eventClick)="eventClicked($event)"
      (datesRender)="datesRenderHandler($event)"
    ></full-calendar>

  </div>
  <div class="col-md-1"></div>
</div>

