<!--Lock Screen Starts-->
<section id="lock-screen">
    <div class="container-fluid forgot-password-bg">
      <div class="row full-height-vh m-0">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="card">
            <div class="card-content">
              <div class="card-body lock-screen-img">
                <div class="row m-0">
                  <div class="col-lg-6 d-lg-block d-none text-center py-2">
                    <img
                      src="../../assets/img/gallery/lock.png"
                      alt=""
                      class="img-fluid"
                      height="230"
                      width="400"
                    />
                  </div>
                  <div class="col-lg-6 col-md-12  px-12 bg-white">
                    <br/><br/><br/><br/>
                    <h3 class="mt-10">
                      Course Registration Successful. <br/>
                    </h3>

                    <h4 class="mt-10">
                        Thank you! <br/>
                      </h4>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Lock Screen Ends-->
