<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-content">
        <div class="px-3">
          <div class="card-header">
            <h4 class="card-title" id="basic-layout-form">Training Costs</h4>
          </div>
          <div>
            <!--Striped rows Light Starts-->
            <section id="striped-light">
              <div class="row text-left">
                <div class="col-sm-12">
                    <div class="card-content">
                      <div class="card-body" style="padding-top: 10px;">
                        <form class="form" [formGroup]="costingForm">
                          <input type="hidden" formControlName="courseScheduleId">
                          <div class="form-body">
                            <div class="row">
                              <div class="col-md-2">
                                <label for="rate">Amount</label>
                                <input class="form-control" type="number" formControlName="amount" [ngClass]="{ 'is-invalid': isInvalid(f.amount)}" (blur)="calculateTotalAmount()">
                                <small *ngIf="(f.amount.dirty || f.amount.touched || submitted) && f.amount.invalid && f.amount.errors.required" class="form-text text-muted danger">
                                  Daily rate required
                                </small>
                              </div>

                              <div class="col-md-2">
                                <label for="professionalFee">Quantity</label>
                                <input class="form-control" type="number" formControlName="multiplier" [ngClass]="{ 'is-invalid': isInvalid(f.multiplier)}" (blur)="calculateTotalAmount()">
                                <small *ngIf="(f.multiplier.dirty || f.multiplier.touched || submitted) && f.multiplier.invalid && f.multiplier.errors.required" class="form-text text-muted danger">
                                  Multiplier required
                                </small>
                              </div>

                              <div class="col-md-3">
                                <label for="facilitatorId">Cost</label>
                                <app-cost-select (selectedIdEmitter)="onCostingSelected($event)" [isInvalid]="isCostingIdInvalid" [selectedCosting]="selectedCosting"></app-cost-select>
                                <small *ngIf="isCostingIdInvalid" class="form-text text-muted danger">Cost required</small><br />
                              </div>

                              <div class="col-md-2">
                                <label for="rate">Total Amount</label>
                                <input class="form-control" type="number" formControlName="totalAmount" [disabled]="true">
                              </div>

                              <div class="col-md-3">
                                <label for="facilitatorId">Note</label>
                                <input class="form-control" type="text" formControlName="comment" [disabled]="true">
                              </div>
                            </div>
                          </div>

                          <div class="text-left mt-2">
                            <button type="button" class="btn btn-raised btn-raised btn-success mr-1" (click)="save()">
                              <i class="fa fa-check-square-o"></i> Add
                            </button>
                            <button type="button" class="btn btn-raised btn-raised btn-danger" (click)="refresh()">
                              <i class="ft-x"></i> Reset
                            </button>
                          </div>
                        </form>

                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Cost ID</th>
                              <th>Comment</th>
                              <th>Amount</th>
                              <th>Multiplier</th>
                              <th>Total Amount</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of costingsData; index as i">
                              <th scope="row">{{i + 1}}</th>
                              <td><app-cost-detail [id]="item.costId"></app-cost-detail></td>
                              <td>{{item.comment}}</td>
                              <td>{{item.amount || 0 | currency: 'PHP '}}</td>
                              <td>{{item.multiplier}}</td>
                              <td>{{item.totalAmount || 0 | currency: 'PHP '}}</td>
                              <td>
                                <button type="button" class="btn btn-raised btn-raised btn-danger mr-1" (click)="removeCosting(item.id, item.costId)">
                                  <i class="ft-x"></i> Remove
                                </button>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="5">&nbsp;</td>
                              <td colspan="1">{{getTotalCost() || 0 | currency: 'PHP '}}</td>
                              <td colspan="2">&nbsp;</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
              </div>
            </section>
            <!--Striped rows Light Ends-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>