
<div class="row text-left justify-content-md-center">
  <div class="col-md-6">

<div class="card">
  <div class="card-header px-header-color" style="background-color: #ECEFF1;color: black;">
    <h3>My Profile</h3>
  </div>
  <div class="card-body">
        <div class="card">
          <div class="card-content">
            <div>
              <form class="form form-horizontal" [formGroup]="currentForm">
                <div class="form-body">
                  <ngb-alert type="danger" [dismissible]="false" *ngIf="genericError">Unable to update profile. Retry again.</ngb-alert>
                  <ngb-alert type="danger" [dismissible]="false" *ngIf="usernameTaken">Username already taken.</ngb-alert>
                  <ngb-alert type="danger" [dismissible]="false" *ngIf="emailTaken">Email already taken.</ngb-alert>

                  <div class="form-group row">
                    <label class="col-md-3 label-control">&nbsp;</label>
                    <div class="col-md-9">
                      Fields with <span class="px-required">*</span> are required.
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="username">Username <span class="px-required">*</span></label>
                    <div class="col-md-9">
                      <input formControlName="username"
                             type="text"
                             id="username"
                             class="form-control"
                             name="username"
                             [ngClass]="{ 'is-invalid': hasError('username')}">
                      <small *ngIf="hasError('username')" class="form-text text-muted danger">Username required</small>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="email">Email <span class="px-required">*</span></label>
                    <div class="col-md-9">
                      <input  formControlName="email"
                              type="text"
                              id="email"
                              class="form-control"
                              name="email"
                              [ngClass]="{ 'is-invalid': hasError('email')}">
                      <small class="form-text text-muted danger" *ngIf="hasError('email')">Email required</small>
                      <small class="form-text text-muted danger" *ngIf="currentEmail.errors?.pattern">Please provide a valid email address</small>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="firstName">First Name <span class="px-required">*</span></label>
                    <div class="col-md-9">
                      <input formControlName="firstName"
                             type="text"
                             id="firstName"
                             class="form-control"
                             name="firstName"
                             [ngClass]="{ 'is-invalid': hasError('firstName')}">
                      <small *ngIf="hasError('firstName')" class="form-text text-muted danger">First name required</small>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="lastName">Last Name <span class="px-required">*</span></label>
                    <div class="col-md-9">
                      <input formControlName="lastName"
                             type="text"
                             id="lastName"
                             class="form-control"
                             name="lastName"
                             [ngClass]="{ 'is-invalid': hasError('lastName')}">
                      <small *ngIf="hasError('lastName')" class="form-text text-muted danger">Last name required</small>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="middleInitial">Middle Initial</label>
                    <div class="col-md-9">
                      <input [attr.maxlength]="5" formControlName="middleInitial"
                             type="text"
                             id="middleInitial"
                             class="form-control"
                             name="middleInitial">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3" for="middleInitial">&nbsp;</label>
                    <div class="col-md-9">
                      <button type="button" class="btn btn-raised btn-success mr-2" (click)="submit()"><i class="fa fa-check-square-o"></i> Submit</button>
                      <button type="button" class="btn btn-raised btn-secondary" (click)="reset()"><i class="ft-x"></i> Reset</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>