<div class="card">
  
  <div class="card-header" style="background-color: #ECEFF1;">
    <h3 *ngIf="!newForm">{{title}} Details</h3>
    <h3 *ngIf="newForm">New {{title}}</h3>
  </div>

  <div class="card-body">
    <div class="row text-left justify-content-md-center">
      <!-- view form start -->
      <div *ngIf="newForm == false && viewForm == true" class="col-md-6">
        <form class="form form-horizontal striped-rows">
        <br/>
        <div class="form-body">
            <div class="form-group row">
              <label class="col-md-3 label-control" for="name">Name</label>
              <div class="col-md-9">
                {{f.name.value}}
              </div>
            </div>
        </div>
        <div class="form-body">
            <div class="form-group row">
              <label class="col-md-3 label-control" for="name">Description</label>
              <div class="col-md-9">
                {{f.description.value}}
              </div>
            </div>
        </div>
        <div class="form-body">
            <div class="form-group row">
              <label class="col-md-3 label-control" for="createdDate">Date Created</label>
              <div class="col-md-9">
                <span *ngIf="f.createdDate">{{f.createdDate.value | date: 'MMM d, y h:mm:ss a'}}</span>
              </div>
            </div>
        </div>
        <div class="form-body">
            <div class="form-group row">
              <label class="col-md-3 label-control" for="createdBy">Created By</label>
              <div class="col-md-9">
                {{createdBy}}
              </div>
            </div>
        </div>
        <div class="form-body">
            <div class="form-group row">
              <label class="col-md-3 label-control" for="modifiedDate">Last Modified Date</label>
              <div class="col-md-9">
                <span *ngIf="f.modifiedDate">{{f.modifiedDate.value | date: 'MMM d, y h:mm:ss a'}}</span>
              </div>
            </div>
        </div>
        <div class="form-body">
            <div class="form-group row">
              <label class="col-md-3 label-control" for="modifiedBy">Last Modified By</label>
              <div class="col-md-9">
                {{modifiedBy}}
              </div>
            </div>
        </div>
        <div class="form-body">
            <div class="form-group row">
              <label class="col-md-3 label-control">&nbsp;</label>
              <div class="col-md-9">
                <button type="button" class="btn btn-raised btn-success mr-2" (click)="showEditForm()">
                  <i class="fa fa-check-square-o"></i> Edit
                </button>
                <button type="button" class="btn btn-danger btn-raised" (click)="cancel()">
                  <i class="ft-x"></i> Cancel
                </button>
              </div>
            </div>
        </div>
        </form>
      </div>
      <!-- view form end -->

      <!-- new form and edit form start -->
      <div *ngIf="newForm == true || editForm == true" class="col-md-6">
        <div class="card">
          <div class="card-content">
            <div class="px-3">
              <form class="form form-horizontal" [formGroup]="currentForm">
                
                <input *ngIf="editForm" type="hidden" formControlName="id">
                
                <div class="form-body">
                  <div class="form-group row">
                    <label class="col-md-3 label-control">&nbsp;</label>
                    <div class="col-md-9">
                      Fields with <span class="px-required">*</span> are required.
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="name">Name<span class="px-required">*</span></label>
                    <div class="col-md-9">
                      <input  formControlName="name"  type="text" id="name" class="form-control" name="name"  [ngClass]="{ 'is-invalid': isInvalid(f.name)}">
                      <small *ngIf="(f.name.dirty || f.name.touched || submitted) && f.name.invalid && f.name.errors.required" class="form-text text-muted danger">
                        First name required
                      </small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="name">Description</label>
                    <div class="col-md-9">
                      <textarea  formControlName="description"  type="text" id="description" class="form-control" name="description"></textarea>
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="eventRegInput4">&nbsp;</label>
                    <div class="col-md-9">
                      
                      <button *ngIf="editForm" type="button" class="btn btn-raised btn-success mr-2" (click)="update()">
                        <i class="fa fa-check-square-o"></i> Save Changes
                      </button>
                      <button *ngIf="newForm" type="button" class="btn btn-raised btn-success mr-2" (click)="saveNew()">
                        <i class="fa fa-check-square-o"></i> Save
                      </button>
                      <button type="button" class="btn btn-danger btn-raised" (click)="cancel()">
                        <i class="ft-x"></i> Cancel
                      </button>
                    </div>
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- new form and edit form end -->
    </div>
  </div>

</div>